@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h2 class="mb-4">Welcome to HelpDesk system</h2>

<h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius erat id dui aliquam, eu malesuada leo semper. Morbi ac felis quis nisl ultricies efficitur. Duis vestibulum felis a sollicitudin vulputate. Nam ultricies purus auctor dolor tempus, dignissim faucibus nisl faucibus. Mauris vitae sollicitudin urna. Nam molestie dui quis euismod tincidunt. Proin tincidunt ornare dolor, vel hendrerit felis tincidunt a.

    Integer porttitor tempor sapien, a ultrices ligula maximus at. Integer vulputate et eros sed suscipit. Donec eu ultrices elit. Phasellus egestas ut nisl vitae varius. Suspendisse sed tellus nisl. Nam ornare molestie viverra. Curabitur faucibus pulvinar dictum. Nullam sit amet posuere metus. Proin in est id libero vestibulum feugiat. Maecenas efficitur, nisi at ornare hendrerit, metus purus posuere lacus, at ornare ante dolor eget augue. Ut bibendum hendrerit feugiat. Nullam vitae maximus augue. Pellentesque augue nibh, efficitur ac condimentum sit amet, pellentesque accumsan lorem. Nullam at augue metus. Aliquam ac erat a ante sodales dictum. Suspendisse a massa arcu.

    Curabitur imperdiet sit amet ante eu elementum. Nulla facilisi. Fusce eu lacus a turpis porta dictum. Curabitur ut nulla nec orci pulvinar tristique vehicula vel tellus. Praesent vitae ultricies metus. Donec condimentum ac leo at molestie. Praesent quis tincidunt felis. Vivamus lacus metus, facilisis eget magna id, pharetra tempor lectus. Morbi eget facilisis ipsum. Nullam malesuada neque et enim accumsan ornare. Nullam et lorem sed urna imperdiet sagittis at ac mauris. Pellentesque sed urna eros. Vivamus condimentum suscipit dui, non venenatis nunc dapibus a.

    Proin vitae facilisis tortor. Integer sed malesuada neque. Duis sed hendrerit nunc, sed mattis enim. Maecenas et fermentum est. Duis sed sapien non turpis vestibulum iaculis a maximus lorem. Vestibulum sodales dictum augue, id gravida tellus interdum congue. Quisque scelerisque vulputate nisl.

    Donec id nulla imperdiet, porta ipsum ut, commodo lacus. Etiam non dignissim purus, ac sollicitudin tortor. Curabitur id lacus facilisis, consectetur enim id, bibendum tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse nec porttitor lectus, et consectetur sapien. Donec eget rhoncus tortor. Aenean id lacus et neque dapibus lobortis. Praesent mollis pellentesque nisl, eu vestibulum justo porttitor et.
</h3>