@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpDeskApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelpDeskApp.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/&#64;tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/&#64;tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <aside class="navbar navbar-vertical navbar-expand-sm navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand navbar-brand-autodark">
                <a href="/Home/Index">
                    <img src="..." width="110" height="32" alt="HelpDesk" class="navbar-brand-image">
                </a>
            </h1>
            <div class="collapse navbar-collapse" id="sidebar-menu">
                <ul class="navbar-nav pt-lg-3">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-area=""
                                   asp-controller="Home"
                                   asp-action="Chat">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4"></path>
                                        <line x1="8" y1="9" x2="16" y2="9"></line>
                                        <line x1="8" y1="13" x2="14" y2="13"></line>
                                    </svg>
                                    <span class="nav-link-title ml-2">
                                        New Chat
                                    </span>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("DepartmentHead") || User.IsInRole("Consultant"))
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-area=""
                                   asp-controller="HelpDesk"
                                   asp-action="Panel">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dashboard" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="13" r="2"></circle>
                                        <line x1="13.45" y1="11.55" x2="15.5" y2="9.5"></line>
                                        <path d="M6.4 20a9 9 0 1 1 11.2 0z"></path>
                                    </svg>
                                    <span class="nav-link-title ml-2">
                                        HelpDesk Panel
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-area=""
                                   asp-controller="ChatLogs"
                                   asp-action="Index">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-history" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <polyline points="12 8 12 12 14 14"></polyline>
                                        <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5"></path>
                                    </svg>
                                    <span class="nav-link-title ml-2">
                                        Chat Logs
                                    </span>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <hr class="navbar-divider my-3">
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-area=""
                                   asp-controller="Admin"
                                   asp-action="ManageUserRoles">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="9" cy="7" r="4"></circle>
                                        <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                        <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                                    </svg>
                                    <span class="nav-link-title ml-2">
                                        Manage Users
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-area=""
                                   asp-controller="Topic"
                                   asp-action="">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <line x1="9" y1="6" x2="20" y2="6"></line>
                                        <line x1="9" y1="12" x2="20" y2="12"></line>
                                        <line x1="9" y1="18" x2="20" y2="18"></line>
                                        <line x1="5" y1="6" x2="5" y2="6.01"></line>
                                        <line x1="5" y1="12" x2="5" y2="12.01"></line>
                                        <line x1="5" y1="18" x2="5" y2="18.01"></line>
                                    </svg>
                                    <span class="nav-link-title ml-2">
                                        Manage Topics
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-area=""
                                   asp-controller="Department"
                                   asp-action="">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <line x1="3" y1="21" x2="21" y2="21"></line>
                                        <line x1="9" y1="8" x2="10" y2="8"></line>
                                        <line x1="9" y1="12" x2="10" y2="12"></line>
                                        <line x1="9" y1="16" x2="10" y2="16"></line>
                                        <line x1="14" y1="8" x2="15" y2="8"></line>
                                        <line x1="14" y1="12" x2="15" y2="12"></line>
                                        <line x1="14" y1="16" x2="15" y2="16"></line>
                                        <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16"></path>
                                    </svg>
                                    <span class="nav-link-title ml-2">
                                        Manage Departments
                                    </span>
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <hr class="navbar-divider my-3">
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area=""
                               asp-controller="Account"
                               asp-action="Logout">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                    <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
                                </svg>
                                <span class="nav-link-title ml-2">
                                    Logout
                                </span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area=""
                               asp-controller="Account"
                               asp-action="Login">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                    <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
                                </svg>
                                <span class="nav-link-title ml-2">
                                    Login
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area=""
                               asp-controller="Account"
                               asp-action="Register">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                    <path d="M16 11h6m-3 -3v6"></path>
                                </svg>
                                <span class="nav-link-title ml-2">
                                    Register
                                </span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </aside>
    
    <div id="notificationArea" style="position: absolute; top: 70px; right: 10px; z-index: 1050;"></div>
    <div class="container">
        <main role="main" class="pb-3 mt-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/notifications.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    *{
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
   
    :root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    }
    body {
    font-feature-settings: "cv03", "cv04", "cv11";
    }
</style>
