@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpDeskApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelpDeskApp.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/&#64;tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/&#64;tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar sidebar-fixed bg-primary text-light shadow-lg p-3" id="sidebar">
    <div class="sidebar-header border-bottom">
        <a class="navbar-brand text-light fw-bold" asp-area="" asp-controller="Home" asp-action="Index">HelpDeskApp</a>
    </div>
    <div class="list-group list-group-flush">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole("User"))
            {
                <!-- Actions Group -->
                <div class="sidebar-title text-uppercase fw-bold mt-3">Actions</div>
                    <a class="list-group-item list-group-item-action bg-light text-dark hover-effect rounded-edges" asp-area="" asp-controller="Home" asp-action="Chat">
                    <i class="bi bi-chat-dots"></i> New Chat
                </a>
            }

            @if (User.IsInRole("Admin") || User.IsInRole("DepartmentHead") || User.IsInRole("Consultant"))
            {
                <!-- Consultant actions Group -->
                <div class="sidebar-title text-uppercase fw-bold mt-3">Consultant actions</div>
                    <a class="list-group-item list-group-item-action bg-light text-dark hover-effect rounded-edges" asp-area="" asp-controller="HelpDesk" asp-action="Panel">
                    <i class="bi bi-clipboard-data"></i> HelpDesk Panel
                </a>
            }

            <!-- Admin actions Group -->
            @if (User.IsInRole("Admin"))
            {
                <div class="sidebar-title text-uppercase fw-bold mt-3">Admin actions</div>
                    <a class="list-group-item list-group-item-action bg-light text-dark hover-effect rounded-edges" asp-area="" asp-controller="ChatLogs" asp-action="Index">
                    <i class="bi bi-book"></i> Chat Logs
                </a>
                    <a class="list-group-item list-group-item-action bg-light text-dark hover-effect rounded-edges" asp-area="" asp-controller="Admin" asp-action="ManageUserRoles">
                    <i class="bi bi-people"></i> Manage Users
                </a>
                    <a class="list-group-item list-group-item-action bg-light text-dark hover-effect rounded-edges" asp-area="" asp-controller="Topic" asp-action="">
                    <i class="bi bi-tags"></i> Manage Topics
                </a>
                    <a class="list-group-item list-group-item-action bg-light text-dark hover-effect rounded-edges" asp-area="" asp-controller="Department" asp-action="">
                    <i class="bi bi-diagram-3"></i> Manage Departments
                </a>
            }

            <!-- Account Group -->
            <div class="sidebar-title text-uppercase fw-bold mt-3">Account</div>
                <a class="list-group-item list-group-item-action bg-light text-dark hover-effect rounded-edges" asp-area="" asp-controller="Account" asp-action="Logout">
                <i class="bi bi-box-arrow-right"></i> Logout
            </a>
        }
        else
        {
            <div class="sidebar-title text-uppercase fw-bold mt-3" >Account</div>
                <a class="list-group-item list-group-item-action bg-light text-dark hover-effect rounded-edges" asp-area="" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
                <a class="list-group-item list-group-item-action bg-light text-dark hover-effect rounded-edges" asp-area="" asp-controller="Account" asp-action="Register">
                <i class="bi bi-pencil-square"></i> Register
            </a>
        }
    </div>
</div>
    <div id="notificationArea" style="position: absolute; top: 70px; right: 10px; z-index: 1050;"></div>
    <div class="container">
        <main role="main" class="pb-3 mt-3 mx-5">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/notifications.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    *{
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .hover-effect:hover {
        background-color: #bfbfbf !important;
        transition: background-color 0.3s ease;
    }

    .list-group-item {
        font-size: 16px;
        padding: 10px 20px;
    }

    .rounded-edges {
        border-radius: 20px !important;
        margin-bottom: 3px;
        box-shadow: 2px 2px;
    }

    .sidebar-title {
        padding-left: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.25rem;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        background-color: #ffffff;
        opacity: 0.8;
    }

    .container {
        margin-left: 250px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .bi {
        margin-right: 10px;
    }
</style>
