@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpDeskApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelpDeskApp.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/&#64;tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/&#64;tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HelpDeskApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">

                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("User"))
                        {
                            <a class="btn me-3 bg-light text-dark"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Chat">New Chat</a>
                        }

                        @if (User.IsInRole("Admin") || (User.IsInRole("DepartmentHead") || (User.IsInRole("Consultant"))))
                        {
                            <a class="btn me-3 bg-light text-dark"
                               asp-area=""
                               asp-controller="HelpDesk"
                               asp-action="Panel">HelpDesk Panel</a>

                            <a class="btn me-3 bg-light text-dark"
                               asp-area=""
                               asp-controller="ChatLogs"
                               asp-action="Index">Chat Logs</a>
                        }

                        @if(User.IsInRole("Admin"))
                        {
                            <a class="btn me-3 bg-light text-dark"
                               asp-area=""
                               asp-controller="Admin"
                               asp-action="ManageUserRoles">Manage users</a>

                            <a class="btn me-3 bg-light text-dark"
                               asp-area=""
                               asp-controller="Topic"
                               asp-action="">Manage topics</a>

                            <a class="btn me-3 bg-light text-dark"
                               asp-area=""
                               asp-controller="Department"
                               asp-action="">Manage departments</a>
                        }


                        <a class="btn me-3 bg-light text-dark"
                           asp-area=""
                           asp-controller="Account"
                           asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a class="btn me-3 bg-light text-dark"
                           asp-area=""
                           asp-controller="Account"
                           asp-action="Login">Login</a>

                        <a class="btn me-3 bg-light text-dark"
                           asp-area=""
                           asp-controller="Account"
                           asp-action="Register">Register</a>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div id="notificationArea" style="position: absolute; top: 70px; right: 10px; z-index: 1050;"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/notifications.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    *{
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
</style>
