<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
	  throwExceptions="true"
      internalLogLevel="Warn">

	<targets>
		<target xsi:type="Database" name="database"
					connectionString="${configsetting:name=ConnectionStrings.NLogConnection}"
					commandText="INSERT INTO ChatLogs (EventTime, EventType, UserId, Content, ChatId, Topic)
								VALUES (@time, @event, @user, @content, @chatId, @topic);">

			<parameter name="@time" layout="${date}" />
			<parameter name="@event" layout="${event-properties:item=EventType}" />
			<parameter name="@user" layout="${event-properties:item=UserId}" />
			<parameter name="@content" layout="${message}" />
			<parameter name="@chatId" layout="${event-properties:item=ChatId}" />
			<parameter name="@topic" layout="${event-properties:item=Topic}" />

		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>