@model List<HelpDeskApp.Models.ViewModels.ChatDisplayInHelpDeskViewModel>

<div class="container mt-4">
    <h2>Consultant Panel</h2>

    <div class="row">
@*         <div class="col-md-6">
            <h3>Active Chats</h3>
            <ul class="list-group">
                @foreach (var chat in Model.Where(c => c.isCurrentConsultantInChat))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @chat.topicName
                        <a href="@Url.Action("JoinChat", "HelpDesk", new { chatId = chat.chatId })" class="btn btn-primary btn-sm">Enter Chat</a>
                    </li>
                }
            </ul>
        </div> *@

        <div class="col-md-6">
            <h3>Available Chats</h3>
            <ul class="list-group">
                @foreach (var chat in Model.Where(c => !c.isCurrentConsultantInChat))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @chat.topicName - 
                        @foreach(var user in chat.usernamesInChat)
                        {
                            @user 
                        }
                        <a href="@Url.Action("JoinChat", "HelpDesk", new { chatId = chat.chatId })" class="btn btn-secondary btn-sm">Join Chat</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
