@{
    ViewData["Title"] = "Email Confirmation";
}

<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Email Confirmed!</h4>
        <p>Your email has been successfully confirmed. You can now <a href="/Account/Login">log in</a>.</p>
    </div>
</div>